<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <i class="fa fa-leaf"></i>
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarsExampleDefault" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/shopping-cart" (click)="isCollapsed = true">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart"> {{ cart.totalItemsCount }} </span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <ng-template #anonymousUser>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/login" (click)="isCollapsed = true">Login</a>
                    </li>
                </ng-template>
                <li ngbDropdown *ngIf="appUser; else anonymousUser" class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle cursor-pointer" id="dropdown01" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{ appUser.name }}
                    </a>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" routerLink="/my/order" (click)="isCollapsed = true">My Order</a>
                        <ng-container *ngIf="appUser.isAdmin">
                            <a class="dropdown-item" routerLink="/admin/orders" (click)="isCollapsed = true">Manage Orders</a>
                            <a class="dropdown-item" routerLink="/admin/products" (click)="isCollapsed = true">Manage Products</a>
                        </ng-container>
                        <a class="dropdown-item" (click)="logout()">Log Out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>